@model Warrior

@{
    ViewData["Title"] = "AddWarrior";
}

<h1>AddWarrior</h1>

<h4>Warrior</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddWarrior">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="WarriorName" class="control-label"></label>
                <input asp-for="WarriorName" class="form-control" />
                <span asp-validation-for="WarriorName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Race" class="control-label"></label>
                <input asp-for="Race" class="form-control" />
                <span asp-validation-for="Race" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Skill" class="control-label"></label>
                <input asp-for="Skill" class="form-control" />
                <span asp-validation-for="Skill" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
